@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    /* outline: 1.2px solid coral; */
    background: lightblue;
    display: grid;
    place-items: center;

    width: 100vw;
    height: 100vh;

    font: 1.5vw 'Space Mono', monospace;


}

a {
    text-decoration: none;
    color: #003;
}

a:hover {
    text-decoration: underline;
}

main {
    /* border: 5px solid lightseagreen; */
    /* border-radius: 100%; */
    /* padding: 10px; */
    display: grid;
    place-items: center;

}


h1 {
    font: 2vw 'Space Mono', monospace;
    color: rgb(7, 14, 20);
    padding: 10px;
}

#clockContainer {
    height: 40vw;
    width: 40vw;
    background: url(clock.png) no-repeat;
    background-size: 100%;

    position: relative;


}

#hour,
#minute,
#second {
    position: absolute;
    background-color: #003;

    border-radius: 8px;
    transform-origin: bottom;
}


#second {
    width: 2%;
    height: 46%;
    top: 5%;
    left: 49%;
    /* display: none; */

}

#hour {
    width: 2%;
    height: 30%;
    top: 20%;
    left: 49%;
}

#minute {
    /* display: none; */
    width: 2%;
    height: 40%;
    top: 10%;
    left: 49%;
    /* background: red; */
}

footer {
    display: flex;
    flex-flow: column;
    text-align: center;

}



.footer img {
    width: 1.5vw;
}

.wahoo {
    display: none;
}

@media(min-width: 3840px) {
    .wahoo {
        display: block;
        position: absolute;
        top: 50%;
        right: 0;
        /* font-size: px; */
        transform: rotate(90deg)
    }
}