@import url("https://fonts.googleapis.com/css2?family=Ranchers&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
html {
  height: 100%;
  margin: 0;
  color: #666;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.1rem;
  font-weight: 400px;
  line-height: 1.8;
}
h2{
    margin-bottom: 32px;
}
.hero__txt {
    padding: 80px;
    font-size: 5rem;
    color: #000000;
    line-height: 1;
    font-weight: normal;
    /* width: 100%; */
    margin:  auto;
    text-align:left;

}.hero__btn-txt {
    position: absolute;
    top: 0;
    left: 0;
}
.pimg1,
.pimg2,
.pimg3 {
  position: relative;
  opacity: 0.7;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  /* parallax effects */
  background-attachment: fixed;
}

.pimg1 {
  background-image: url(../img/img.jpg);
  /* background-size: cover; */
  min-height: 100%;
}

.pimg2 {
  background-image: url(../img/img1.jpg);
  /* background-size: cover; */
  min-height: 400px;
}

.pimg3 {
  background-image: url(../img/img2.jpg);
  /* background-size: cover; */
  min-height: 400px;
}

.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: rgba(19, 19, 22, 0.603);


  padding: 10px 20px;
  font: 2rem "Ranchers";
  font-weight: bolder;
  letter-spacing: 6px;
  text-transform: uppercase;
  opacity: 0.8;
}

.ptext .border {
  background-color: #e7d153;
  border-radius: 10px;
  padding: 20px;
  width: 400px;
  position: relative;
}
 .border::after {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    z-index: -1;
    width: calc(100% + 10px);
    height: calc(100% + 20px);
    background-color:#e7d153;
    filter: invert(1);
    border-radius: 10px;



}
.section {
  text-align: center;
  padding: 80px 80px;
}

.section-light {
  background-color: lightcyan;
  color: #131316;
}

.section-dark {
  background-color: #131316;
  color: lightcyan;
}

footer {
  /* position:absolute;
    bottom: 0; */
  height: 50px;
  font-size: 1.2rem;
  /* padding: 16px; */
  background: #000000;
  color:white;
  display: grid;
  place-items: center;
}
